* {
  font-family: Arial;
}

h2 {
  text-align: center;
}

.column {
  display: flex;
  flex-wrap: wrap;
}

.column-item {
  flex: 1 0 60%;
}

.column-item:nth-of-type(2) {
  flex: 1 0 40%;
}

#frame {
  width: 550px;
  height: 550px;
}

.clicked {
  stroke:rgb(0,128,0);
  stroke-width: 4;
}

.orange {
  fill:orange;
}

h4 {
  text-align: center;
}